<!-- landing-page.component.html -->
<header>
    <nav>
      <div class="navbar">
        <div class="brand-name">Let's Decide</div>
      </div>
    </nav>
  </header>
  <main class="landing-page">
    <div class="center-content">
      <h1>Have a successful voting session!</h1>
      <div class="button-container">
        <button class="primary-button" routerLink="/url-form-page">Create Voting Form</button>
      </div>
      <br>
      <div class="button-container">
        <button class="secondary-button">Cast Vote</button>
      </div>
    </div>
  </main>
  