/* styles.css or styles.scss */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #e15a00cd;
    color: #ffffff;
    padding: 10px 0;
  }
  
  .navbar {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .brand-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .center-content {
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .button-container {
    align-content: center;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #e15a00cd;
    color: #fff;
  }
  