<main class="form-page">
    <div>
        <h1>{{ formData.title }}</h1>
        <p>Description: {{ formData.description }}</p>
  
        <div *ngFor="let question of formData.questions; let i = index">
          <h2>Question {{ i + 1 }}</h2>
          <p>Title: {{ question.title }}</p>
          <p>Answers:</p>
          <ul>
            <li *ngFor="let answer of question.answers">
              {{ answer }}
              <button (click)="chooseAnswer(i, answer)">Choose</button>
            </li>
          </ul>
        </div>
      </div>
</main>